.playerContainer {
    width: 60%;
}

.player {
    width: 50vw;
    height: 28vw;
}

.VideoComponent {
    display: flex;
    justify-content: space-evenly;
    padding: 1% 2%;
    margin: 2% 0;
    width: 96%;
}

.videoAbout {
    color: white;
    padding: 0px 40px;
}

.VideosTitle {
    color: white;
    text-align: center;
    font-size: 40px;
}

.Videos {
    margin-top: 50px;
}