body {
  background-color: black;
}

.backgroundContainer {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.image {
  background-image: url("./Assets/Images/1.jpg");
  position: absolute;
  margin: auto;
  background-size: cover;
  background-position: center;
  min-width: 100vw;
  min-height: 100vh;
}

.aboutSection{
  margin: 20px;
  width: calc(100% - 40px);
  color: white;
}

.icon {
  padding: 10px;
  height: 30px;
  width: 30px;
}

