body {
  background-color: black;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.backgroundContainer {
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-image: url("./Assets/Images/1.jpg");
    background-size: cover;
  background-position: center;
}


.aboutSection{
  margin: 20px;
  width: calc(100% - 40px);
  color: white;
}

.aboutSection h1 {
  font-size: 100px;
  margin-bottom: 5px;
  -webkit-animation: fadein 1s ease-in-out; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s ease-in-out; /* Firefox < 16 */
   -ms-animation: fadein 1s ease-in-out; /* Internet Explorer */
    -o-animation: fadein 1s ease-in-out; /* Opera < 12.1 */
       animation: fadein 1s ease-in-out;
}

.aboutSection p {
  font-size: 25px;
  margin: 0 0 20px 5px;
  -webkit-animation: fadein 2s ease-in-out; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s ease-in-out; /* Firefox < 16 */
   -ms-animation: fadein 2s ease-in-out; /* Internet Explorer */
    -o-animation: fadein 2s ease-in-out; /* Opera < 12.1 */
       animation: fadein 2s ease-in-out;
}

.icons {
  -webkit-animation: fadein 4s ease-in-out; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 4s ease-in-out; /* Firefox < 16 */
   -ms-animation: fadein 4s ease-in-out; /* Internet Explorer */
    -o-animation: fadein 4s ease-in-out; /* Opera < 12.1 */
       animation: fadein 4s ease-in-out;
}



.icon {
  padding: 10px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.navbar {
  display: flex;
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 400px;
  justify-content: space-evenly;
  transform: translateX(-50%);
  font-size: 30px;
  height: 35px;
}

.navItem {
  cursor: pointer;
  width: 100px;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 30px;
  font-weight: bolder;
}

.navItem a {
  text-decoration: none;
  color: white;
}

.navItem a:hover {
  color: #0e76a8;
}

@media only screen and (max-width: 900px) {
  .aboutSection h1 {
    font-size: 11vw;
  }
  
  .aboutSection p {
    font-size: 3vw;
  }

  .navItem {
    font-size: 20px;
  }
}



@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

