.youtube:hover {
    color: red;
}

.facebook:hover {
    color: #3b5998;
}


.instergram:hover {
    fill: url(#instagram-gradient)
}

.linkedIn:hover {
    color: #0e76a8;
}

.email:hover {
    color: royalblue;
}

.icons a {
    text-decoration: none;
    color: white;
}