.Gallery {
    min-height: 100vh;
    border-top: dotted 5px grey;
    background-color: rgba(0, 0, 0, 0.9);
}

.featured-slide {
    height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Gallary-Nav {
    position: absolute;
    left: 20px;
    z-index: 20;
}

.Gallary-Nav a{
    font-size: 30px;
    padding: 10px;
    text-decoration: none;
    color: white;;

}

.gallary-navItem {
    cursor: pointer;
    width: 100px;
    text-align: center;
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    .Gallary-Nav {
        position: relative;
    }

    .gallary-navItem {
        float: none;
        
    }
}

/* .Gallary img {
    width: 100%;
    height: auto;
} */

.image {
    width: 300px;
    float: left;
    overflow: hidden;
}